<div class="row">
    <div class="col-6">
        <div class="d-flex gap-4 mb-3">
            <input type="radio" [(ngModel)]="opcion" name="opcion" value="1" checked>Sumar
            <input type="radio" [(ngModel)]="opcion" name="opcion" value="2">Restar
            <input type="radio" [(ngModel)]="opcion" name="opcion" value="3">Multiplicar
            <input type="radio" [(ngModel)]="opcion" name="opcion" value="4">Dividir
        </div>
        <div class="mb-3">
            <label class="form-label" for="">Número 1</label>
            <input type="text" class="form-control" [(ngModel)]="num1" name="num1" placeholder="Número 1">
        </div>
        <div class="mb-3">
            <label class="form-label" for="">Número 2</label>
            <input type="text" class="form-control" [(ngModel)]="num2" name="num2" placeholder="Número 2">
        </div>
        <div class="mb-3">
            <button (click)="sumar()" class="btn btn-primary">CALCULAR</button>
        </div>
    </div>

    <div class="col-6">
        <h2>Resultado es: {{resultado}}</h2>
    </div>
</div>
