<div class="text-center mt-3">
    <h1 class="card-title">Multiplicación de a x b</h1>
    <div class="container d-flex">
        <div class="col-6 d-flex flex-column">
            <mat-form-field>
                <input matInput [(ngModel)]="num1" type="number" placeholder="Número 1">
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="num2" type="number" placeholder="Número 2">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="calcular()">Calcular</button>
        </div>

        <div class="col-6">
            <h2 class="card-title fw-bold">Resultado</h2>
            <p>N1: {{num1}}</p>
            <p>N2: {{num2}}</p>
            <p>{{operacion}} = {{resultado}}</p>
        </div>

    </div>
</div>
